.login-form {
    display: flex;
    justify-content: center;
}
.invalid-feedback {
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545
}

.image-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table > tbody > tr > td,
.table > thead > tr > th,
.table > tfoot > tr > th {
    text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle!important;
}

.filter-wrapper .form-control{
    height:32px;
    max-width: 200px;
    font-size:13px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 100%;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.mb0 {
    margin-bottom: 0px!important;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.pagination-right nav {
    text-align: right;
}

.panel-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.panel-description {
    font-size: 15px;
}

.select2-container--default .select2-selection--single{
    border-radius:0 !important;
}
.select2-container .select2-selection--single{
    height:32px !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: color,-webkit-box-shadow;
    transition-property: color,-webkit-box-shadow;
    transition-property: box-shadow,color;
    transition-property: box-shadow,color,-webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    border: 1px solid #c4cdd5;
    outline: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f9fafb));
    background: linear-gradient(to bottom,#fff,#f9fafb);
    border-color: #c4cdd5;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:31px !important;
    font-size:13px;
}
.form-control{
    height:31px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    justify-content: center;
}
.h-32 {
    height: 32px!important;
}
.action {
    gap: 10px 20px;
    width: 70%;
    justify-content: space-between;
}
.w-full {
    width: 100%;
}
.search {
    min-width: 200px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.action > .flex {
    gap: 10px 10px;
}
.table > tbody > tr.active > td {
    background: #f3f3e0!important;
}
.checkAll,
.checkbox-item{
    width:15px;
    height:15px;
}
